<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Search Engine</title>
<link rel="stylesheet" type="text/css" href="two.css">
<style>

.ak{
    border: 1px solid #ccc;
    height: 40px;
    font-size: 16px;
    line-height: 16px;
    }
	
.akb{
border: 1px solid #ccc;
    height: 40px;
    font-size: 16px;
    line-height: 16px;
}
</style>
</head>

<body>
<div id="header-wrapper">
		<img src="images/1.png" width="15%" height="30%">
		<br /><br />
						<form action="" method="">		    
						<input type="search" size='50' class="ak" placeholder="What are you looking for?">		    	
						<button type="Submit" class="akb">Search</button>
						</form></div>
												<div id="menu">
												<ul>
												<li><a href="#" class="current_page_item">Home</a></li>
												<li><a href="#">Images</a></li>
												<li><a href="#">News</a></li>
											    <li><a href="#">Books</a></li>
											    </ul>
												

		</div>
<hr />
<a href="m1.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\1.JPG"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m3.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\2.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m4.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\3.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m5.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\4.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m6.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\5.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m7.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\6.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m8.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\7.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m9.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\8.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m10.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\9.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m11.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\10.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m11.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\11.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m12.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\12.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m13.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\13.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m14.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\14.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>
<a href="m16.html"><IMG SRC="C:\Users\Student\Documents\SHOES IMAGES\MENS\16.JPG" width="230" height="201"style="border:1px solid black;max-width:100%;" alt="adidas" width="230" height="201"></a>

	
</body>
</html>
