<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<!-- head -->
<head>
<!-- Characer Encoding -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<!-- Webpage Title -->
<title>Search Engine</title>
<!-- Connectivity of css page in HTML -->
<style>
.ak{
    border: 1px solid #ccc;
    height: 40px;
    font-size: 16px;
    line-height: 16px;
    }
	
.akb{
border: 1px solid #ccc;
    height: 40px;
    font-size: 16px;
    line-height: 16px;
}
</style>
<!-- Connecivity of css page -->
<link rel="stylesheet" type="text/css" href="/static/w3.css">
<link rel="stylesheet" type="text/css" href="/static/one.css">
<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">

</head>
<!-- End of header -->

<!-- Body of HTML page Start -->
<body>
<!-- Header of page-->

<div id="header-wrapper">
					<div id="header">
									<!-- Menu -->	
									<div id="menu">
												<ul>
												<li><a href="#" class="current_page_item">Home</a></li>
											    </ul>
									</div>
					</div>
 </div>
 
<br /><br /><br /><br /><br />
<!-- logo -->
<center>
			<img src="/static/2.png" width="40%" height="10%">
</center>

<br />

<!-- Search text -->
<center>
 			<section class="webdesigntuts-workshop">
	                  <form action="." method="post">		    
		                     <input type="search" name="sent" class="ak" size='50' placeholder="What are you looking for?">		    	
		                     <button type="Submit" class="akb" value="search">Search</button>
	                  </form>
			</section>
</center>

<!-- Footer -->
<footer class="footer-basic-centered">

			<p class="footer-links">
				<a href="http://www.facebook.com">Facebook</a>
				·
				<a href="http://www.gmail.com">Gmail</a>
				·
				<a href="http://www.youtube.com">Youtube</a>
				·
				<a href="http://www.linkedin.com">Linkedin</a>
				·
				<a href="http://www.google.com">Google</a>
				
			</p>

</footer>
<!-- End of footer -->	

</body>
</html>

